* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial;
  /* background-color: #000; */
}
.main {
  background:url(/assets/backgroundimg.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: flex;
}

.navbar {
  background: transparent;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  margin: auto;
  padding: 0px;
}

#navbar__logo {
  color: #ff0000;
  text-decoration: none;
  font-size: 60px;
  font-weight: bold;
  padding-left: 10px;
  float: left;
  padding-top: 10px;
    cursor: pointer;
  }

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #ff0000;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.button:hover{
  background: #fff;
  color: #ff0000;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #ff0000;
  transition: all 0.3s ease;
}
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #000000;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    margin:auto;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }
  

}


.content {
  width: 100%;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative;
  padding : 0px 200px;
}
.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}
.content__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #fff;
}
.content .content__heading {
  font-family: Arial;
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.content__heading span {
  color: #ff0000;
  font-size: 60px;
}

.content .content__paragraph {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: #ff0000;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.content .cn a {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: #fff;
}

@media screen and (max-width: 960px) {
  .content__heading {
    font-size: 30px;
  }

  .content__paragraph {
    font-size: 20px;
  }
}

/* about page */
.mainabout{
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: Arial;
background-color: #000;
}
.header-container{
  left: 0;
  margin-top: -120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 250px;
  height: 380px;
  background: linear-gradient(to top, rgba(255, 0, 0, 0.8) 50%);
  position: absolute;
  bottom:10%;
  left: 65%;
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: #ff0000;
  font-size: 22px;
  background-color: #fff;
  border-radius: 22px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #ff0000;
  border-top: none;
  border-right: none;
  border-left: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.btnn {
  width: 240px;
  height: 40px;
  background-color: #ff0000;
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
}

.btnn:hover {
  background: #fff;
  color: #ff0000;
}

.btnn a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.form.link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form.link a {
  text-decoration: none;
  color: #ff0000;
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icon a {
  text-decoration: none;
  color: #fff;
}

.icon ion-icon {
  color: #fff;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 5px;
  transition: 0.3s ease;
}

.icon ion-icon:hover {
  color: #ff0000;
}

@media screen and (max-width: 960px) {
  
  .content__heading {
    font-size: 60px;
  }
  .form{
    

  }
}




/* ABout Page */
#about {
  width: 100%;
  height: auto;
  background: #f7f7f7;
  padding-top: 120px;
}

#about .div-img-bg {
  padding-bottom: 30px;
  border: 20px solid #b8a07e;
}

#about .div-img-bg .about-img img {
  width: 100%;
  box-shadow: 0px 0px 85px 0px rgba(0, 0, 0, 0.14);
  margin-top: -60px;
  margin-left: 40px;
  height: 400px;
  -o-object-fit: cover;
  object-fit: cover;
}

#about .about-descr .p-heading {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  text-align: left;
}

#about .about-descr .separator {
  max-width: 80%;
  margin-bottom: 0;
  text-align: left;
}

/* javascript */